.signuppage-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    .items{
        background-color: #fff;
        border-radius: 30px;
        width: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .title{
            font-weight: 700;
        }
        .sub-title{
            font-weight: 500;
        }
        img{
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            height: 100%;
            width: 100%;
        }
        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .form-item{
                .form-element{
                    & > *{
                        margin-bottom: 20px;
                    }
                    .form-button{
                        .chakra-button{
                            background-color: #000;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px){ 
    .signuppage-container{
        .items{
            .image{
                display: none;
            }
            .form{
                .form-item{
                    width: 100%;
                    margin: auto;
                    padding: 40px 30px 30px 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .form-element{
                        .form-button{
                            .chakra-button{
                                width: 100%;
                            }
                        }
                    }
                    .go-login, .aggreements{
                        text-align: center;
                    }
                    & > *{
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){ 
    .signuppage-container{
        .items{
            .image{
                display: none;
            }
            .form{
                .form-item{
                    width: 100%;
                    margin: auto;
                    padding: 80px 60px 60px 60px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .form-element{
                        .form-button{
                            .chakra-button{
                                width: 100%;
                            }
                        }
                    }
                    .go-login, .aggreements{
                        text-align: center;
                    }
                    & > *{
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){ 
    .signuppage-container{
        .items{
            display: grid;
            grid-template-columns: 300px 1fr;
            .image{
                height: 600px;                
            }
            .form{
                padding-left: 40px;
                .form-item{
                    width: 300px;
                    height: 380px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .form-element{
                        .form-button{
                            .chakra-button{
                                width: 220px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 992px) and (max-width: 1200px){ 
    .signuppage-container{
        .items{
            display: grid;
            grid-template-columns: 400px 1fr;
            .image{
                height: 600px;                
            }
            .form{
                padding-left: 40px;
                .form-item{
                    width: 400px;
                    height: 420px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .form-element{
                        .form-button{
                            .chakra-button{
                                width: 220px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px){ 
    .signuppage-container{
        .items{
            display: grid;
            grid-template-columns: 480px 1fr;
            .image{
                height: 600px;                
            }
            .form{
                padding-left: 60px;
                .form-item{
                    width: 460px;
                    height: 420px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .form-element{
                        .form-button{
                            .chakra-button{
                                width: 240px;
                            }
                        }
                    }
                }
            }
        }
    }
}